### IntelliJ IDEA ###
.idea/workspace.xml
src/com/globant/model/orders/sell_order.csv
src/com/globant/model/wallet/wallet.csv
src/com/globant/model/user/users.csv
.
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store